#Ignore the build directory
build/
target/*

#My QOL scripts
makefile

Win32/
PolyMostStatic.dir/


################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Polymost.dir
/Debug
/CMakeFiles
/bin
/arch
/target
/Win32
/PolyMostStatic.dir
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
Polymost.sln
Polymost.vcxproj
Polymost.vcxproj.filters
CMakeSettings.json
.gitignore

