#Ignore the build directory
build/
lib/*
!*.gitkeep
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Polymost.dir
/Debug
/CMakeFiles
/bin
/arch
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
Polymost.sln
Polymost.vcxproj
Polymost.vcxproj.filters
CMakeSettings.json
.gitignore
